---
layout: base
---

<div class="meta">
	<h2>{{ student_name }} — {{ project_title }}</h2>
	<p class="year">{{ year }}</p>
</div>

<div class="full-width">
	<img class="main-image" src="{{ main_image }}" alt="{{ project_title }}" />
</div>

<article>
	{{ content }}
</article>

{%- for image in images -%}
<img class="image" src="{{ image }}" alt="" />
{%- endfor -%}

<div class="social-links__wrapper">
	<div class="social-links">
		{% for link in social_links %}
		<a
			class="social-link"
			target="_blank"
			href="{{ link }}"
			>{{ link | replace: "https://", "" }}</a
		>
		{% endfor %}
	</div>
</div>
