---
layout: base
---

<div class="full-width">
	<img class="main-image" src="https://imagedelivery.net/7-GLn6-56OyK7JwwGe0hfg/{{ main_image }}/xl" cf-src="{{ main_image }}/xl" alt="{{ project_title }}" />
</div>

<div class="meta">
	<div>
		<h2>{{ project_title }}</h2>
        <h3>{{ student_name }}</h3>
	</div>
	<div>
		<p class="year">{{ context }}&nbsp;&nbsp;{{ year }}</p>
	</div>
</div>

<article>
	{{ content }}
</article>

<div class="social-links__wrapper">
	<div class="social-links">
		{% for link in social_links %}
		<a class="social-link" target="_blank" href="{{ link }}">{{ link | replace: "https://", "" }}</a>
		{% endfor %}
	</div>
</div>

{%- for image in images -%}
<img class="image" local-src="/2025/static/media/{{ image }}" src="https://imagedelivery.net/7-GLn6-56OyK7JwwGe0hfg/{{ image }}/xl" alt="" />
{%- endfor -%}

